---
import Navigation from "../../components/Navigation.astro";
import "../../styles/index.css";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("docs");

  return docs.map((doc) => ({
    params: { slug: doc.id },
    props: { doc },
  }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);

const title =
  doc.data.title ??
  (Array.isArray(doc.rendered?.metadata?.headings) &&
    doc.rendered?.metadata?.headings?.find((h) => h.depth === 1)?.text) ??
  doc.id;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={title} />
    <meta name="author" content="MDXpress" />
    <title>{title}</title>
  </head>
  <body>
    <div class="app">
      <Navigation />
      <main class="main-content">
        <div class="doc-content">
          <Content />
        </div>
      </main>
    </div>
  </body>
</html>
