---
import { getCollection } from "astro:content";
import NavTree from "./NavTree.astro";
import { buildTree } from "../utils/buildTree";

const docs = await getCollection("docs");

const tree = buildTree(docs);
---

<nav>
  <div class="nav-content">
    <NavTree nodes={tree.children} />
  </div>
</nav>
